################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureAcademy.DotNetCore.StorageUtility/obj
/AzureAcademy.DotNetCore.StorageUtility/bin
